{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .postImage{
        width: 300px;
    }
    .end_a
    {
        text-decoration: none;
        color: whitesmoke;
    }
    button{
      background:#435ac0;
      color:#fff;
      border:none;
      position:relative;
      height:60px;
      font-size:1.6em;
      padding:0 2em;
      cursor:pointer;
      transition:800ms ease all;
      outline:none;
    }
    button:hover{
      background:rgb(160, 174, 255);
      color:#435ac0;
    }
    button:before,button:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #435ac0;
      transition:400ms ease all;
    }
    button:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    button:hover:before,button:hover:after{
      width:100%;
      transition:800ms ease all;
    }
</style>
<section style="margin: 20px; margin-left: 35px;">
    <h1>스터디명 : {{post.name}}</h1>
    <hr>
    작성자: <a href="{% url 'mypage:mypage' post.writer.id %}">{{post.writer}}</a><br>
    <hr>
    스터디 분야: {{post.section}}<br>
    한줄 소개: {{post.intro}}<br>
    모집 대상: {{post.qualification}}<br>
    스터디 모집 인원: {{post.member_start}} ~ {{post.member_end}}<br>
    활동 기간: {{post.start_date}} ~ {{post.due_date}}<br>
    스터디 정보: {{post.body}}<br>
    스터디 난이도: {{post.difficulty}}<br>
    스터디장 번호: {{post.phnum}}<br>
    {%if post.image%}
        관련 이미지: <img class="postImage" src="{{ post.image.url }}"  alt="사진 나올 곳"><br>
    {%endif%}
    {%if not post.is_over%}
    <!-- 글 작성자가 마감하기 전이라면 -->
        {%if is_author%}
        <!-- 접속자가 글 작성자라면 -->
            {%if post.study_member_request%}
            <!-- 그리고 혹시 지금 스터디 지원한 사람이 있다면 -->
                {%for member in post.study_member_request.all%}
                <!-- 지원한 사람 for문으로 꺼내고 수락 / 거절 -->
                    {{member}}
                    <a href="{% url 'study:accept_request' post.id member.id %}">수락</a>
                    <a href="{% url 'study:refuse_request' post.id member.id %}">거절</a><br>
                {%endfor%}
            {%else%}
            <!-- 지원한 사람이 없다면 -->
                <strong>지원자 아직 없음!</strong><br>
            {%endif%}
        {%else%}
        <!-- 접속자가 글 작성자가 아니라면 -->
            {%if request.user in post.study_member.all%}
            <!-- 접속자가 스터디에 가입돼 있으면 -->
                <strong>해당 스터디에 가입돼 있습니다!</strong>
            {%elif request.user in post.study_member_request.all%}
            <!-- 접속자가 스터디에 가입 신청을 넣은 상태라면 -->
                <strong>승인 대기 중입니다.</strong>
                <a href="{% url 'study:apply_study' post.id %}">지원취소</a><br>
            {%elif request.user.is_authenticated %}
            <!-- 어느 케이스에도 해당 안되고 로그인이 돼 있다면 -->
                <a href="{% url 'study:apply_study' post.id %}">지원하기</a><br>
            {%endif%}
        {%endif%}
    {%else%}<hr>
        <h1>마감!!!!!!!!!</h1>
    {%endif%}
    {%if request.user in post.study_member.all%}
    <!-- 접속자가 스터디에 가입 완료돼있으면 -->
    <hr>
        현재 가입 멤버들:
        {%for member in post.study_member.all%}

        <a href="{% url 'mypage:mypage' member.id %}">{{member}}</a>
        {%endfor%}
    {%endif%}
    <br>
    {%if is_author%}
    <!-- 접속자가 글 작성자라면 -->
        {%if not post.is_over%}
        <!-- 마감하기 전 글이라면 -->
        <hr>
            <button><a class="end_a" href="{% url 'study:edit' post.id %}">수정하기</a></button>
            <button><a class="end_a" href="{% url 'study:delete' post.id %}">삭제하기</a></button>
            <button><a class="end_a" href="{% url 'study:recruit_over' post.id%}">마감하기</a></button>
        {%endif%}
    {%endif%}
</section>
{% endblock %}

