{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    
/* 버튼CSS */
button{
  background:#435ac0;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#435ac0;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #435ac0;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #aaabaf;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}


.box select {
  background-color: #435ac0;
  color: white;
  padding: 3px;
  width: 120px;
  border: none;
  font-size: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}


</style>
<section style="margin: 20px;">
    <form action="{%url 'study:create'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <p>스터디명 : <input type="text" name="name" required></p>
        <hr/>
         
            <div class= "box">
                <p>스터디 분야:
            <select name="section">
                <option value="어학">어학</option>
                <option value="자격증">자격증</option>
                <option value="취업">취업</option>
                <option value="코딩테스트">코딩테스트</option>
                <option value="취업">취업</option>
            </select>
        </div>
        </p>
        <p>스터디 한줄 소개:  <input type="text" name="intro" required></p>
        <p>모집 대상: <input type="text" name="qualification" required></p>
        <p>모집 인원: <input type="number" name="member_start" min="1" required> ~ <input type="number" name="member_end" min="1" required></p>
        <p>활동 기간: <input type="date" name="start_date" required> ~ <input type="date" name="due_date" required></p>
        <p>스터디 정보: <textarea style="width: 100%;" type="text" name="body" cols="20" rows="20"></textarea></p>
        <p>스터디 난이도: <input type="number" name="difficulty" min="1" max = "10" required></p>
        <p>스터디장 번호: <input type="text" name="phnum" required></p>
		<p>사진: <input type="file" name="image"></p>
        <hr/>
        <!-- 제출 오른쪽으로 옮기고싶음.. -->
        <button type="submit">제출</button>

    </form>
</section>
{% endblock %}