{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Start Banner Hero -->
<div class="banner-wrapper bg-light">
    <div id="index_banner" class="banner-vertical-center-index container-fluid pt-5">

        <!-- Start slider -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="py-5 row d-flex align-items-center">
                        <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-left py-5 pb-5">
                            <h1 class="banner-heading h1 text-secondary display-3 mb-0 pb-5 mx-0 px-0 light-300 typo-space-line">
                                함께 <strong>공부해요!</strong> 
                              <br>

                          </h1>
                            <p class="banner-body text-muted py-3 mx-0 px-0">
                                혼자
                              공부할 수록 집중력이 떨어지고 공부할 때마다
                              궁금한점이 생기지만 해결을 못할 때 <br>
                              누군가와
                              함께 스터디를 만들어 같이 공부하고 궁금증
                              을 해결해 나가며 체계적으로 공부할 수 있는<br>
                              온라인
                              스터디 서비스
                          </p>
                            <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="{% url 'main:about' %}"role="button">더 알아보기</a>
                           
                        </div>
                    </div>

                </div>
               

                </div>
            </div>
        </div>
        <!-- End slider -->

    </div>
</div>
<!-- End Banner Hero -->



<!-- Start Service -->
<section class="container overflow-hidden py-5">

    
    <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">
        <!-- Start Recent Work -->
        {%for study in my_study%}
        ddd
        <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
            <a href="{%url 'study:detail' study.id%}" class="service-work card border-0 text-white shadow-sm overflow-hidden mx-5 m-sm-0">
                <img class="service card-img" src="{% static 'img/services-01.jpg' %}" alt="Card image">
                <div class="service-work-vertical card-img-overlay d-flex align-items-end">
                    <div class="service-work-content text-left text-light">
                        <span class="btn btn-outline-light rounded-pill mb-lg-3 px-lg-4 light-300">{{study.section}}</span>
                        <p class="card-text">{{study.name}}</p>
                    </div>
                </div>
            </a>
        </div><!-- End Recent Work -->
        {%endfor%}

       

    </div>
</section>
<!-- End Service -->






<!-- Start View Work -->

<!-- End View Work -->

<!-- Start Recent Work -->
<section class="py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Top3 스터디</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="{% static 'img/recent-work-01.jpg' %}" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">교환학생을 위한 토플</h3>
                            <p class="card-text">세달동안 토플 90점 맞기</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="{% static 'img/recent-work-02.jpg' %}" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">공학수학 기초 다지기</h3>
                            <p class="card-text">공대 기초 수학을 위한 전공 스터디</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->

            <!-- Start Recent Work -->
            <div class="col-md-4 mb-3">
                <a href="#" class="recent-work card border-0 shadow-lg overflow-hidden">
                    <img class="recent-work-img card-img" src="{% static 'img/recent-work-03.jpg' %}" alt="Card image">
                    <div class="recent-work-vertical card-img-overlay d-flex align-items-end">
                        <div class="recent-work-content text-start mb-3 ml-3 text-dark">
                            <h3 class="card-title light-300">언론사 대비 논술 시험</h3>
                            <p class="card-text">언론 직군을 준비하는 사람들을 위한 논술 스터디</p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
         
        </div>
    </div>
</section>



<section class="py-5 mb-5">
    <div class="container">
        <div class="recent-work-header row text-center pb-5">
            <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">Developer</h2>
        </div>
        <div class="row gy-5 g-lg-5 mb-4">

            <!-- Start Recent Work -->
            <section id="teams" class="section teams">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static '' %}" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>박상준</h4>
                                    <h5 class="role">학과</h5>
                                    <p>💻email : </p>
                                </div>
                            </div><!-- person -->
                        </div>
        
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'img/서희찬.png' %}" style="width: 70%;" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>서희찬</h4>
                                    <h5 class="role">멀티미디어공학과</h5>
                                    <p>💻email : gmlcks0513@naver.com</p>
                                </div>
                            </div><!-- person -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'images/.png' %}" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>신정섭</h4>
                                    <h5 class="role">학과</h5>
                                    <p>💻email : </p>
                                </div>
                            </div><!-- person -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'images/.png' %}" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>이건회</h4>
                                    <h5 class="role">학과</h5>
                                    <p>💻email :</p>
                                </div>
                            </div><!-- person -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'images/.png' %}" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>이여원</h4>
                                    <h5 class="role">학과</h5>
                                    <p>💻email :</p>
                                </div>
                            </div><!-- person -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'images/.png' %}" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>정준홍</h4>
                                    <h5 class="role">학과</h5>
                                    <p>💻email :</p>
                                </div>
                            </div><!-- person -->
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="person">
                                <img src="{% static 'images/.png' %}" alt="" class="img-responsive">
                                <div class="person-content">
                                    <h4>허윤회</h4>
                                    <h5 class="role">학과</h5>
                                    <p>💻email :</p>
                                </div>
                            </div><!-- person -->
                        </div>
                        
                    </div>
                </div>
            </section><!-- teams -->
        </div>
    </div>
</section>
<!-- End Recent Work -->

{% endblock %}